@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.Layout {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    background-size: 120%;
    @include z-index(bgImage);
    position: relative;
    background-position: 75% 25%;
    transition: all 1.5s ease-in-out;
    @include respond-to("small") {
        background-position: 25% 0%;
        background-size: 350%;
    }
    &::before {
        content: "";
        @include z-index(bgOverlay);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.75) 75%,
            rgba(0, 0, 0, 1) 100%
        );
    }

    .Menu {
        .menu-icon {
            @include z-index(menuItem);
            position: relative;
            a {
                display: flex;
                img.menu {
                    position: fixed;
                    left: 25px;
                    top: 22px;
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                }
                &:hover {
                    opacity: 0.5;
                }
                .menu-label {
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 80px;
                    left: 8px;
                    font-size: 22px;
                    color: #f8f8f8;
                    cursor: pointer;
                    &:before {
                        content: "";
                        position: absolute;
                        right: 100%;
                        top: 50%;
                        width: 70px;
                        height: 2px;
                        margin: -2px 15px 0 0px;
                        box-shadow: inset 0 0 0 1px;
                        transition: width 0.3s ease;
                    }
                    @include respond-to("medium") {
                        display: none;
                    }
                }
            }
        }
    }
    .Bookings {
        position: absolute;
        bottom: 70px;
        right: 0px;
        @include z-index(menuItem);
        transform: rotate(90deg);
        a {
            text-decoration:none;
            .bookings-label {
                font-size: 22px;
                color: #f8f8f8;
                cursor: pointer;
                &:after {
                    content: "";
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    width: 70px;
                    height: 2px;
                    margin: -2px 15px 0 0px;
                    box-shadow: inset 0 0 0 1px;
                    transition: width 0.3s ease;
                }
                // @include respond-to("medium") {
                //     display: none;
                // }
            }
        }
    }
    .Social {
        .social-wrapper {
            position: absolute;
            @include z-index(social);
            top: 20px;
            right: 25px;
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                li {
                    margin-right: 17px;
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        cursor: pointer;
                        img {
                            width: 75%;
                        }
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}
