@import "../../styles/global.scss";
@import "../../styles/mixins.scss";

.Navigation {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    @include z-index(navigationOverlay);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: overflow 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
    a {
        img.close-menu {
            position: fixed;
            left: 27px;
            top: 27px;
            cursor: pointer;
            width: 20px;
            height: 20px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .navigation-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        ul {
            text-align: center;
            li {
                a {
                    font-size: 40px;
                    line-height: 1.6;
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    &.visible {
        visibility: visible;
        overflow: visible;
        opacity: 1;
    }
}
